@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    background: #fbfbfb;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.main_head {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}

.head_nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo>img {
    width: 120px;
}

.item_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_phone {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.item_phone>a {
    color: #000;
    text-decoration: none;
}

.img_phone>img {
    width: 20px;
    height: 20px;
}

.images_banner>img {
    width: 100%;
    height: auto;
}

ul.nav_items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.nav_items>li>a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.nav_items>li>a:hover {
    text-decoration: underline;
    color: #000;
}

.btn_app,
.send_btn {
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background: #084928;
    color: #fff;
    cursor: pointer;
}

.list_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list_social a:hover svg path {
    fill: #084928;
}

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.form_field>input,
.form_field>textarea {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #000;
    color: #000;
}

.mobile_head {
    display: none;
}

.btn_app_m {
    display: none;
}

.map_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map_contact {
    display: block;
    width: 50%;
}

.logo_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.adres_contact {
    margin: 20px 0;
    font-size: 20px;
}

.phone_contact>.list_phone>.item_phone {
    justify-content: center;
}

.phone_contact {
    padding-bottom: 15px;
}

.btn_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.carousel {
    position: relative;
    width: 750px;
    margin: 0 auto;
}

.carousel:before {
    position: absolute;
    content: '';
    background: url('../images/left.png') center center / contain no-repeat;
    width: 50px;
    height: 50px;
    top: 225px;
    left: -75px;
    cursor: pointer;
}

.carousel:after {
    position: absolute;
    content: '';
    background: url('../images/right.png') center center / contain no-repeat;
    width: 50px;
    height: 50px;
    bottom: 225px;
    right: -75px;
    cursor: pointer;
}

.carousel__inner {
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 750px;
    height: 500px;
}


.carousel__round {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.carousel__round:nth-child(1) {
    background: url('../images/farmer_2.jpg') center center / cover no-repeat;
}

.carousel__round:nth-child(2) {
    background: url('../images/farmer_3.jpg') center center / cover no-repeat;
}

.carousel__round:nth-child(3) {
    background: url('../images/farmer_1.jpg') center center / cover no-repeat;
}

.carousel__rate {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.star {
    width: 30px;
    height: 30px;
    background: url('../images/star.png') center center / contain no-repeat;
}

.carousel__photoblock {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel__name {
    font-size: 30px;
    font-weight: 700;
}

.carousel__date {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
}

.carousel__descr {
    margin-top: 25px;
    font-size: 20px;
}



@media screen and (max-width: 995px) {

    h1 {
        font-size: 28px;
        text-align: center;
        line-height: 32px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    .deskotp-header {
        display: none;
    }

    .mobile_head {
        display: block;
        position: fixed;
        width: 100%;
        background: #f1f1f1;
    }

    .logo_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_block>img {
        width: 98px;
        margin-right: 8px;
    }

    .list_phone {
        display: flex;
        flex-direction: column;
    }

    .item_phone>a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }

    .mobile_head>.container {
        max-width: 90%;
    }

    .mobile_menu {
        height: auto;
        width: 0;
        position: absolute;
        top: 0;
        background-color: #fff;
        border-left: 1px solid #fff;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 9999;
        box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        justify-content: end;
        align-items: center;
        left: 0;
    }

    .head_menu_m {
        display: flex;
        justify-content: right;
        padding-right: 20px;
        padding-top: 20px;
    }

    .mobile_list_menu {
        list-style: none;
        padding: 10px;
    }

    .mobile_list_menu>li {
        margin-bottom: 10px;
    }

    .mobile_list_menu>li>a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
    }

    .images_banner {
        padding-top: 80px;
    }

    .btn_app_m {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 10px;
        width: 100%;
        color: #fff;
        border: none;
        background: #084928;
        font-size: 20px;
        z-index: 2;
    }

    .modal {
        max-width: calc(100% - 20%);
    }

    .map_text {
        display: flex;
        flex-direction: column-reverse;
    }

    .map_contact {
        display: block;
        width: 100%;
    }

    .text_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .adres_contact {
        text-align: center;
    }

    .carousel {
        width: 600px;
    }

    .carousel__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 600px;
        height: 400px;
    }

    .carousel__round {
        width: 180px;
        height: 180px;
    }

    .carousel__name {
        font-size: 26px;
    }

    .carousel__date {
        margin-top: 10px;
        font-size: 15px;
        line-height: 22px;
    }

    .carousel__descr {
        margin-top: 20px;
        font-size: 18px;
    }

    .carousel:before {
        width: 40px;
        height: 40px;
        top: 180px;
        left: -75px;
    }

    .carousel:after {
        width: 40px;
        height: 40px;
        bottom: 180px;
        right: -75px;
    }
}

@media (max-width: 767px) {

    .carousel {
        width: 450px;
    }

    .carousel__item {
        gap: 20px;
        width: 450px;
    }

    .carousel__round {
        width: 100px;
        height: 100px;
    }

    .carousel__name {
        font-size: 22px;
    }

    .carousel__date {
        font-size: 14px;
    }

    .carousel__descr {
        line-height: 24px;
        font-size: 16px;
    }

    .carousel:before {
        left: -55px;
    }

    .carousel:after {
        right: -55px;
    }

    .carousel__rate {
        gap: 2px;
    }

    .star {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 576px) {

    .carousel {
        width: 320px;
    }

    .carousel__photoblock {
        gap: 5px;
        width: 320px;
    }

    .carousel__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 350px;
        gap: 10px;
    }

    .carousel__round {
        margin: 0 auto;
        width: 80px;
        height: 80px;
    }

    .carousel__name {
        line-height: 20px;
        font-size: 16px;
        text-align: center;
    }

    .carousel__date {
        margin-top: 0;
        font-size: 11px;
        text-align: center;
    }

    .carousel__descr {
        padding: 0 15px;
        margin-top: 10px;
        line-height: 18px;
        font-size: 13px;
        text-align: justify;
    }

    .carousel:before, .carousel:after {
        display: none;
    }

    .carousel__rate {
        gap: 2px;
    }

    .star {
        width: 17px;
        height: 17px;
    }
}